<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Tharun's Blog</a></h1>
        </div>

        <div>
            <p>published: 28.11.2018, 18:30</p>
            <h2><a href="">My first post</a></h2>
            <p>This is a sample blog created by me for GCI</p>
        </div>

        <div>
            <p>published: 28.11.2018, 18:32</p>
            <h2><a href="">My second post</a></h2>
            <p>I am learning Django</p>
        </div>
    </body>
</html>
